h1 {
    color: #a837ec;
}

h2 {
    color: white;
}

body {
    background-image: url("../Images/pingouin.png"),
    url("../Images/feuilles.png");
    background-repeat: no-repeat, repeat;
    background-position-x: 50%;
    background-attachment: fixed;
}

img {
    display: block;
    margin: auto;
}