.Premiere_ligne {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    text-align: center;
    font-size: 20px;
    background-color: #fbf05e;
    margin: 0;
    padding: 20px 0;
}

.Deuxieme {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    color: #bc6cff;
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}

.Troisieme {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    color: #bc6cff;
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}

.Paragraphe1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-indent: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.numerotation {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #5c63e6;
    font-weight: bolder;
}

.Paragraphe {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    font-style: italic;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-top: 10px;
    margin-bottom: 20px;
}

.premiereLigneParagraphre1 {
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 20px;
}


.Paragraphe2 {
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 20px;
}

.Paragraphe3,
.Paragraphe4 {
    color: #74a6ff;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 20px;
}

.sous-titre {
    font-size: 13px;
    text-decoration: underline;
}

.sous-titre-special {
    margin-top: 10px;
    font-size: 13px;
    text-decoration: underline;
}