html,

Premiere_ligne {
    color: red;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #fbf05e;
}

Deuxieme {
    margin-top: 20px;
    color: #bc6cff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
}

Troisieme {
    margin-top: 20px;
    color: #bc6cff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}