h1 {
    color: #a837ec;
}

h2 {
    color: white;
}

body {
    background-image: url("../Images/pingouin.png"),
    url("../Images/feuilles.png");
    background-repeat: no-repeat, repeat;
    background-position-x: 50%;
    background-attachment: fixed;
}

.Paragraphe1, .Paragraphe2, .Paragraphe3, .Paragraphe4, 
.Paragraphe5, .Paragraphe6, .Paragraphe7{
    color: white;
    margin-bottom: 20px;
    font-size: 25px;
}

.Lien{
    color: white;
    margin-bottom: 20px;
    font-size: 25px;
}