body{
    background-color: #215229;
    background-image: url("../Images/pingouin.png");
    background-repeat: no-repeat;
    background-position-x: 50% ;
    background-size: 70% ;
}

h1{
    color : #750699;
}

section{
    background-color: rgba(149, 65, 65, 0.5);
}

article{
    background-color: rgba(255, 0, 0, 0.5);
    margin-left: 0.5cm;
    margin-right: 0.5cm;
    color : #484850;
    background-image: url("../Images/pingouin.png");
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 20%;

}

h2, cite, main{
    color : white;
}

